<ion-header>
  <ion-toolbar>
    <ion-title>
      Mes fleurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Mise à jour..."></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let flower of data.flowers" (click)="showDetailsOf(flower.id)">
      {{ flower.getName(0) }} de {{ flower.size }}cm
    </ion-item>
  </ion-list>
  Last update: {{ data.lastUpdateTime | date: 'dd/MM/yyyy HH:mm:ss' }}, success: {{ data.lastUpdateSuccess }}
</ion-content>
